<div class="container">
    <p>App Component works</p>

    <h1>Angular Router</h1>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth0 - Angular</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/all-pins" routerLinkActive="active">All Pins</a>
        <a routerLink="/my-pins" routerLinkActive="active">My Pins</a>
    </nav>

    <router-outlet></router-outlet>


</div>