<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<div class="container">
    <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Pinterest Interest</a>

        <div class="collapse navbar-collapse" id="containerNavbar">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/all-pins" routerLinkActive="active">All Pins</a>
                </li>
                <li *ngIf="auth.isAuthenticated()" class="nav-item">
                    <a class="nav-link" routerLink="/my-pins" routerLinkActive="active">My Pins</a>
                </li>
                <li *ngIf="!auth.isAuthenticated()" class="nav-item">
                    <a class="nav-link" (click)="auth.login()">Login</a>
                </li>
                <li *ngIf="auth.isAuthenticated()" class="nav-item">
                    <a class="nav-link" (click)="auth.logout()">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Auth0 - Angular</a>

                <button class="btn btn-primary btn-margin" routerLink="/">
                    Home
                </button>

                <button class="btn btn-primary btn-margin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
                    Log In
                </button>

                <button class="btn btn-primary btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
                    Log Out
                </button>

            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>


</div>