
    <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Pinterest Interest</a>

        <div class="collapse navbar-collapse" id="containerNavbar">
          <ul class="navbar-nav  mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/all-pins" routerLinkActive="active">All Pins</a>       
            </li>
            <li  *ngIf="auth.isAuthenticated()" class="nav-item">
                <a class="nav-link" routerLink="/my-pins" routerLinkActive="active">My Pins</a>
            </li>
            <li *ngIf="!auth.isAuthenticated()"  class="nav-item">
                <a class="nav-link" (click)="auth.login()">Login</a>
            </li>
            <li *ngIf="auth.isAuthenticated()"  class="nav-item">
                <a class="nav-link" (click)="auth.logout()">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>



    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth0 - Angular</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

    <router-outlet></router-outlet>


</div>