<div class="row">
  <div class="col-sm-6">
    <h1 class="bd-title">All Pins</h1>
    <p class="bd-lead">
      View pins from all users.  Click on a user's name to filter wall to only their pins.
    </p>
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-sm-12">
    <div *ngIf="allPins.length > 0">
      <div class="card-columns">
        <div *ngFor="let pin of allPins; let i = index" style="border-radius: 0px; padding: 10px;" class="card">
          <img class="card-img-top img-fluid" src="{{pin.pinUrl}}" alt="my pin" class="img-fluid" onerror='this.src="https://www.mylessonplanner.com/images/icons/DefaultIcon/png/256x256/MD-picture-broken-link.png"'>
          <!--You need to define onerror attribute in the image elements and perform image replace operation.  http://makitweb.com/check-broken-image-jquery-ajax/ -->
          <div class="card-block">
            <h4 class="card-title">{{pin.pinName}}</h4>
            <p class="card-text"><small class="text-muted">Pinned by:</small></p>
           <p class="card-text" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;">{{pin.pinUserName}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>