<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color: #2ae4e3; padding: 10px; border-radius: 0px;">
      <h1 class="bd-title">All Pins</h1>
      <p class="bd-lead">
        View pins from all users. Click on a user's name to filter wall to only their pins.
      </p>
      <p *ngIf="filteredPins.length > 0 && filtered == true">
        <button class="btn btn-primary" (click)="clearFilter()">See All Pins</button>
      </p>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-sm-12">
    <div *ngIf="allPins.length > 0 && filtered == false">
      <div class="card-columns">
        <div *ngFor="let pin of allPins; let i = index" style="border-radius: 0px; padding: 10px;" class="card">
          <img class="card-img-top img-fluid" src="{{pin.pinUrl}}" alt="my pin" class="img-fluid" onerror='this.src="https://www.mylessonplanner.com/images/icons/DefaultIcon/png/256x256/MD-picture-broken-link.png"'>
          <!--You need to define onerror attribute in the image elements and perform image replace operation.  http://makitweb.com/check-broken-image-jquery-ajax/ -->
          <div class="card-block">
            <h4 class="card-title">{{pin.pinName}}</h4>
            <p class="card-text"><small class="text-muted">Pinned by:</small></p>
           <p class="card-text card-text-hover" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;" (click)='filterPins(i)'>{{pin.pinUserName}}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="filteredPins.length > 0 && filtered == true">
      <div class="card-columns">
        <div *ngFor="let pin of filteredPins; let i = index" style="border-radius: 0px; padding: 10px;" class="card">
          <img class="card-img-top img-fluid" src="{{pin.pinUrl}}" alt="my pin" class="img-fluid" onerror='this.src="https://www.mylessonplanner.com/images/icons/DefaultIcon/png/256x256/MD-picture-broken-link.png"'>
          <!--You need to define onerror attribute in the image elements and perform image replace operation.  http://makitweb.com/check-broken-image-jquery-ajax/ -->
          <div class="card-block">
            <h4 class="card-title">{{pin.pinName}}</h4>
            <p class="card-text"><small class="text-muted">Pinned by:</small></p>
           <p class="card-text" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;">{{pin.pinUserName}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>