<p>
  all-pins works!
</p>


<div class="row" style="margin-top: 20px">
  <div class="col-sm-12">
    <div *ngIf="allPins.length > 0">
      <div class="card-columns">
        <div *ngFor="let pin of allPins; let i = index" style="border-radius: 0px; padding: 10px;" class="card">
          <img class="card-img-top img-fluid" src="{{pin.pinUrl}}" alt="my pin" class="img-fluid" onerror='this.src="https://www.mylessonplanner.com/images/icons/DefaultIcon/png/256x256/MD-picture-broken-link.png"'>
          <!--You need to define onerror attribute in the image elements and perform image replace operation.  http://makitweb.com/check-broken-image-jquery-ajax/ -->
          <div class="card-block">
            <h4 class="card-title">{{pin.pinName}}</h4>
            <p class="card-text"><small class="text-muted">Pinned by:</small><span style="color: #2ae4e3; font-weight: bold;"> {{pin.pinUserName}}</span></p>
           <!-- <p class="card-text" style="color: #2ae4e3; font-weight: bold;">{{pin.pinUserName}}</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>