  /* 2ae4e3 html color code blue text*/

  .delete-btn {
    border: none;
    font-weight: bold;
    color: #2ae4e3;
    background-color: transparent;
    padding: none;
    padding: 0px;
}


  .card-columns {
        column-gap: 10px!important;
    }
  
  
  @media (min-width: 34em) {
      .card-columns {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
      }
  }
  
  @media (min-width: 48em) {
      .card-columns {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
      }
  }
  
  @media (min-width: 62em) {
      .card-columns {
          -webkit-column-count: 4;
          -moz-column-count: 4;
          column-count: 4;
      }
  }
  
  @media (min-width: 75em) {
      .card-columns {
          -webkit-column-count: 8;
          -moz-column-count: 8;
          column-count: 8;
      }
  }