<div class="row">
  <div class="col-sm-6">

    <h1 class="display-4">Manage Your Pins</h1>

    <p class="lead">
      Add pins of images or deleting existing pins.
    </p>
    <p>
    <button class="btn btn-primary" (click)="showAddPin()" *ngIf="hideAdd == false">Add New Pin</button>
    </p>
    <form *ngIf="hideAdd == true" style="margin-top: 20px">
      <div class="form-group">
        <label for="url">Url</label>
        <input class="form-control" [(ngModel)]="newPinUrl" name="pinUrl"  placeholder="Enter url to image you would like to pin" />
        <small class="form-text text-muted">Example url format: https://www.website.com/image.jpg</small>
      </div>
      <div class="form-group">
        <label for="description">Pin Name</label>
        <input class="form-control" placeholder="Name/Description" maxlength="65" name="pinName" [(ngModel)]="newPinName" />
        <small class="form-text text-muted">Name your pin or provide a short description of pin image.</small>
      </div>
      <button type="button" (click)="addPin()" class="btn btn-primary">Add Pin</button>
    </form>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-sm-12">
    <div *ngIf="myPins.length > 0">
      <div class="card-columns">
        <div *ngFor="let pin of myPins; let i = index" style="border-radius: 0px; padding: 10px;" class="card">
          <img class="card-img-top img-fluid" src="{{pin.pinUrl}}" alt="my-pin" class="img-fluid" onerror='this.src="https://www.mylessonplanner.com/images/icons/DefaultIcon/png/256x256/MD-picture-broken-link.png"'>
          <!--You need to define onerror attribute in the image elements and perform image replace operation.  http://makitweb.com/check-broken-image-jquery-ajax/ -->
          <div class="card-block">
            <h4 class="card-title">{{pin.pinName}}</h4>
            <p class="card-text"><button (click)="deletePin(i)" class="delete-btn">Delete Pin</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

