<div class="row">
    <div class="jumbotron" style="background-color: #2ae4e3">
      <h1 class="display-3">Pinterest Interest</h1>
      <p class="lead">
        Check out this Pinterest-like website.  View pins from all users.<br>
        Login using your Twitter account to add your own pins.
      </p>
    </div>
  </div>
  

  <div class="row" style="margin-top: 30px">
      <div class="card-columns">
          <div class="card" style="border-radius: 0px; padding: 10px;">
            <img class="card-img-top img-fluid" src="https://i.pinimg.com/236x/13/58/cb/1358cb024acd2721ccd6282cecbf5ed0--lake-toys-boats.jpg" alt="boat on lake">
            <div class="card-block">
              <h4 class="card-title">Boat on a Lake</h4>
              <p class="card-text"><small class="text-muted">Pinned by:</small></p>
              <p class="card-text card-text-hover" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;">Harmony</p>
            </div>
          </div>
          <div class="card" style="border-radius: 0px; padding: 10px;">
              <img class="card-img-top img-fluid" src="https://i.pinimg.com/736x/58/e0/13/58e013492e3d1affbedfc72ddae969d7--lake-boats-abandoned-ships.jpg" alt="user pin">
              <div class="card-block">
                <h4 class="card-title">1000 Foot Ship Columbia Star</h4>
                <p class="card-text"><small class="text-muted">Pinned by:</small></p>
                <p class="card-text card-text-hover" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;">Harmony</p>
              </div>
            </div>
            <div class="card" style="border-radius: 0px; padding: 10px;">
                <img class="card-img-top img-fluid" src="http://twinlakesresort.net/images/twin-lakes-boats.jpg" alt="user pin">
                <div class="card-block">
                  <h4 class="card-title">Rental Boat</h4>
                  <p class="card-text"><small class="text-muted">Pinned by:</small></p>
                  <p class="card-text card-text-hover" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;">Harmony</p>
                </div>
              </div>
              <div class="card" style="border-radius: 0px; padding: 10px;">
                  <img class="card-img-top img-fluid" src="https://media2.s-nbcnews.com/j/newscms/2017_52/2272966/171225-chicago-snow-storm-njs-911a_6f02a5743d884eba73b07458da64629d.nbcnews-ux-2880-1000.jpg" alt="user pin">
                  <div class="card-block">
                    <h4 class="card-title">Snow covered streets near Chicago</h4>
                    <p class="card-text"><small class="text-muted">Pinned by:</small></p>
                    <p class="card-text card-text-hover" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;">Erlich</p>
                  </div>
                </div>
                <div class="card" style="border-radius: 0px; padding: 10px;">
                    <img class="card-img-top img-fluid" src="https://img1.onthesnow.com/image/la/94/hitting_mark_perfectly_amie_catches_early_94554.jpg" alt="user pin">
                    <div class="card-block">
                      <h4 class="card-title">Skiing</h4>
                      <p class="card-text"><small class="text-muted">Pinned by:</small></p>
                      <p class="card-text card-text-hover" style="color: #2ae4e3; font-weight: bold; margin-top:-15px;">Erlich</p>
                    </div>
                  </div>
    
  </div>